/* Main charts Container - Made all the element to display in block level*/
.charts-container{
    margin: 0px auto;
    padding: 0px;
    width: 100%;
}

/* First div Element that Holds All the Buttons to view past stock data*/
.months-chart-data{
    margin: 0px auto;
    width: 60%;
}

.months-chart-data > button{
    margin: 0px auto;
    padding: 0px;
    width: 22%;
    justify-content: center;
    align-content: center;
}

/* Second Div Element that Holds the Canvas */

.display-chart{
    margin: 0px auto;
    padding: 0px;
    widows: 90%;
}

.display-chart > canvas {
    width: 100%;
    height: 100%;
}