<div class="mainDiv"> 
    <div class="tableDiv">
        <table class="tableDesign">
            <tr>
                <td >
                    <div class="cellDiv">
                        {{symbol | uppercase}}
                    </div>
                </td>
                <td>
                    <div class="cellDiv">
                      <button
                      (click)="removeStock()"
                      >
                      Remove
                    </button>
                    </div>
                </td>
            </tr>
        </table>
        <hr>
    </div>
</div>