/* Wathclist row container */
.manage-watchlist-row{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 5px 0px;
    padding: 5px;
    width: 100%;
    text-align: center;
}

/* Styling the first child element - Stock Symbol - h3*/
.manage-watchlist-row > h3{
    margin: 0px auto;
    padding: 10px;
    width: 45%;
}

/* Styling the second child element - Button */
.manage-watchlist-row > button{
    margin: 0px auto;
    padding: 10px;
    width: 45%;
}







