<div class="mainDiv">
        <div class="profileDiv">
            <app-profile-details></app-profile-details>
        </div>
        <div class="accDiv">
            <app-profile-account-details></app-profile-account-details>
        </div>
        <div class="graphDiv">
            <app-profile-graph></app-profile-graph>
        </div>
        <div class="movedLeft">
            <app-profile-watchlist></app-profile-watchlist>
        </div>
        <div class="movedLeft">
            <app-profile-stocks></app-profile-stocks>
        </div>
</div>