.movedLeft{
    float: left;
}

.graphDiv{
    float: left;
}

.mainDiv{
    margin:10px 55px;
    border: 5px solid black;
    float: left;
    height: 550px;
    max-width: 1500px;
    overflow: hidden;
}

.profileDiv{
    float: left;
}

.accDiv{
    float: left;
}