<!-- <div class="mainDivStyle">
    <div class="searchDiv">
        <app-stkSearch></app-stkSearch>
    </div>
    <div class="tableDiv">
        <table class="mainTable">
            <tr><td><app-stkAbout></app-stkAbout></td></tr>
            <tr><td><app-stkStats></app-stkStats></td></tr>
            <tr><td><app-stkCharts></app-stkCharts></td></tr>
        </table>
    </div>
</div> -->


<div class="stock-research-container">
    <div class="stock-serach">
        <app-stkSearch></app-stkSearch>
    </div>
    <div class="stock-research-data">

    </div>
</div>