/* Main Container that hold two flex items */
.stock-research-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    margin: 0px auto;
    padding: 10px;
    width: 90%;
}

/* First Flex Item - Search Stock Section*/
.stock-serach{
    margin: 5px auto;
    padding: 5px;
    width: 25%;
    border: 5px solid black;
    align-self: flex-start;
}

/* Second Flex Item - Display Research Data - Which will be flex and has other components*/
.stock-research-data{
    margin: 5px auto;
    padding: 5px;
    width: 65%;
    border: 5px solid black;
}

.stock-about, .stock-stats, .stock-charts {
    margin: 5px auto;
    border: 5px solid black;
    padding: 5px;
    width: 90%;
}

/* .stock-charts {
    margin: 5px auto;
    border: 5px solid black;
    padding: 5px;
    width: 90%;
} */

