/* table {
    width: 200px;
    height: 300px;
}
tr{
    width:200px;
} */
.mainDivStyle{
    float: left;
    margin: 5px;
    /* border: 5px solid black; */
}

.searchDiv{
    float: left;
    margin: 5px;
    border: 5px solid black;
    padding: 5px;
    margin: 5px;
}

.tableDiv{
    float: left;
    margin: 5px;
    /* border: 5px solid black; */
    padding: 5px;
    margin: 5px;
    height: 100px;
    width: 200px;
}

.mainTable{
    float: left;
}