.divContainer{
    border: solid 5px black;
    margin: 5px;
    padding: 5px;
    float: right;
}

.mainDiv{
    border: 5px solid black;
    margin: 5px;
    padding: 5px;
    height: 150px;
    width: 450px;
    float: right;
}