.profilePic {
    border: solid 5px green;
    margin: 5px;
    padding: 5px;
    float: left;
}

.mainDiv {
    border: 5px solid black;
    padding: 5px;
    margin: 5px;
    width: 570px;
    height: 150px;
    float: left;
}