
/* Single row container that has stock name, input , buy and sell button */
.manage-ownedStock-row{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 5px auto;
    padding: 5px;
    width: 100%;
}

/* Global styling to all the child elements in the single row container */
.manage-ownedStock-row *{
    margin: 0px auto;
    padding: 5px;
    width: 22%;
}