<!-- <div class="mainDiv"> 
  <div class="tableDiv">
    <table class="tableDesign">
      <tr>
        <td>
          <div class="cellDiv">
            {{stock | uppercase}}
          </div>
        </td>
        <td >
          <div class="cellDiv">
            Current Price
          </div>
        </td>
        <td >
          <div class="cellDiv">
            <input style="width:25%"[(ngModel)] = "number">
          </div>
        </td>
        <td>
          <div class="cellDiv">
            <button
            (click)="buyStock()"
            >
            BUY
          </button>
        </div>
      </td>
      <td>
        <div>
          <button
          (click)="sellStock()"
          >
           SELL
        </button>
      </div>
    </td>
  </tr>
</table>
<hr>
</div>
</div> -->


<div class="manage-ownedStock-row">
  <h3>{{stock | uppercase}}</h3>
  <input [(ngModel)] = "number">
  <button
  (click)="buyStock()"
  >
  BUY
</button>
<button
  (click)="sellStock()"
  >
    SELL
</button>
</div>