/* Watchlist Container */

.manage-watchlist-container{
    margin: 15px auto;
    padding: 15px;
    width: 90%;
    text-align: center;
}

/* Styling for first heading section in the watchlist container */

.manage-watchlist-container > h2{
    margin: 5px auto;
    padding: 5px;
    width: 80%;
}