/* .mainDiv {
    border: 5px solid black;
    padding-right: 30px;
    margin: 5px;
    margin-left: 55px;
    height: 320px;
    width: 600px;
    overflow: scroll;
}

.templateDiv {
    margin: 20px;
    padding: 5px;
}
td{
    border: 5px solid black;
    margin: 5px;
    padding: 10px;

}

tr{
    padding: 30px;
    margin: 10px;
    font-size: 20px;
} */


.owned-stocks-container{
    margin: 10px auto;
    border: 5px solid black;
    padding: 10px;
    width: 600px;
    height: 350px;
}

.owned-stocks-container > h2{
    margin: 5px auto;
    padding: 10px;
    text-align: center;
}