.mainDiv{
    border: 5px solid black;
    padding: 5px;
}

.tableDesign{
    max-width: 300px;
}

.tableDiv{
    border: solid 5px red;
    margin: 5px;
    padding: 5px;
    height: 20px;
}

.cellDiv{
    text-align: center;
    width: 250px;
}