<!-- <div class="mainDiv"> 
    <div class="tableDiv">
        <table class="tableDesign">
            <tr>
                <td >
                    <div class="cellDiv">
                        {{symbol | uppercase}}
                    </div>
                </td>
                <td>
                    <div class="cellDiv">
                        ${{currentPrice}}
                    </div>
                </td>
            </tr>
        </table>
        <hr>
    </div>
</div> -->

<div class="watchlist-row">
    <h3>
        {{symbol | uppercase}}
    </h3>
    <p>
        ${{currentPrice}}
    </p>
</div>
<hr>
