.mainDiv{
    border: 5px solid black;
    padding: 5px;
    float: left;
}

.tableDesign{
    max-width: 300px;
    float: left;
}

.tableDiv{
    border: solid 5px red;
    margin: 5px;
    padding: 5px;
    float: left;
    height: 20px;
}